@model Clinic.Models.Doctor
@{
    Layout = "_LayoutAuthorizeDoctor";
}
<h1>Успешная выписка заключения</h1>



<div class="usluga">
    <a asp-action="MainPageDoctor">Вернуться в личный кабинет</a>
</div>
