@model Clinic.Models.Doctor
@{
    Layout = "_LayoutAuthorizePatient";
}
<h1>Успешная запись к врачу</h1>



<div class="usluga">
    <a asp-action="MainPagePatient">Вернуться в личный кабинет</a>
</div>